# Node & NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Desktop App Build Artifacts
desktop-app/dist/
desktop-app/.cache/

# Android Build Artifacts & IDE files
android-app/android/.gradle/
android-app/android/build/
android-app/android/app/build/
android-app/android/.idea/
android-app/android/*.iml
android-app/android/app/*.iml
android-app/android/local.properties
android-app/android/captures/
android-app/android/.externalNativeBuild/

# OS specific files
.DS_Store
Thumbs.db
*.log
